<configuration>
   <activePackageSource>
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
        <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
        <add key="n1" value="https://artifactory.soti.net/artifactory/api/nuget/nuget" />
    </activePackageSource>
</configuration>